.section__help {
  position: relative;
}

.title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 500;
  font-family: "Halyard Display", sans-serif;
  color: #1e266d;
  text-align: center;
  z-index: 1;
  position: relative;
}

.help {
  display: flex;
  justify-content: space-between;

  height: 100%;

  &__brand-line {

    height: 34px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 162px;
    margin-top: 160px;
    flex-wrap: wrap;

    & img {
      transition: transform 0.5s;
    }

    & img:hover {
      transform: scale(1.3);
    }
  }

  &__photos {
    position: relative;
    width: 610px;
    height: 932px;

    &--first {
      position: absolute;
      left: 220px;
      top: -129px;
      z-index: 0;
      margin-right: 100px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 331px;
        height: 357px;
        background: #999fe3;
        border-radius: 4px;
        bottom: 4px;
        left: 15px;
        z-index: -1;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        background: #b5f2e3;
        border-radius: 4px;
        z-index: -2;
        right: 37px;
        bottom: 73px;
      }
    }

    &--second {
      position: absolute;
      left: 50px;
      top: 380px;
      z-index: 1;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 266px;
        height: 308px;
        background: #fed892;
        border-radius: 4px;
        bottom: 4px;
        left: 15px;
        z-index: -1;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 102px;
        height: 102px;
        background: #facfca;
        border-radius: 50%;
        z-index: -2;
        right: 396px;
        bottom: 67px;
      }
    }

    &--third {
      position: absolute;
      left: 280px;
      top: 514px;
      z-index: 1;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 201px;
        height: 200px;
        background: #f47b9e;
        border-radius: 4px;
        bottom: 4px;
        right: 0;
        z-index: -1;
      }

      &::after {
        content: url(../images/imgelement.svg);
        display: block;
        position: absolute;
        left: 147px;
        top: 218px;
        z-index: -2;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 405px;
    margin-top: 115px;
    position: relative;

    .info__item:first-child::before {
      content: url(../images/helplogo1.svg);
      position: absolute;
      display: block;
      width: 58px;
      height: 58px;
      left: 0;
    }

    .info__item:nth-child(2)::before {
      content: url(../images/helplogo2.svg);
      position: absolute;
      display: block;
      width: 58px;
      height: 58px;
      left: 0;
    }

    .info__item:last-child::before {
      content: url(../images/helplogo3.svg);
      position: absolute;
      display: block;
      width: 58px;
      height: 58px;
      left: 0;
    }
  }

  .info__item {
    width: 300px;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(69, 88, 128, 0.2);

    h3 {
      font-family: "Halyard Display", sans-serif;
      font-weight: 500;
      font-size: 22px;
      line-height: 125%;
      color: #1e266d;
      margin-bottom: 25px;
    }

    p {
      font-family: "Halyard Text", sans-serif;
      font-size: 18px;
      line-height: 27px;
      color: #455880;
    }

    &--last {
      border-bottom: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  
  .help {
    flex-direction: column;
    align-items: center;

    &__info {
      margin-top: 0;
    }

    &__brand-line {
      justify-content: center;
      margin-top: 50px;
      
      & img {
        margin: 10px 20px;
      }
    }
  }
}

@media screen and (max-width: 700px) {

  .help {
    &__info {
      margin-top: -300px;
    }

    &__photos {
      transform: scale(0.7);
      transform-origin: top;
    }
  }
}

@media screen and (max-width: 585px) {

  .title {
    font-size: 40px;
    line-height: 50px;
  }

  .help {
    &__info {
      margin-top: -600px;
      transform: scale(0.7);
      margin-bottom: -100px;
    }

    &__photos {
      transform: scale(0.4);
      transform-origin: top;
    }

    &__brand-line {
      margin-top: -50px;
    }
  }
}

@media screen and (max-width: 460px) {

  .help__brand-line {
    margin-bottom: 300px;
  }
}
