.shop__background {
  background-color: #fff9ea;
  width: 100%;
}

.buy {
  display: flex;
  flex-direction: column;
  align-content: center;

  &__title {
    padding-top: 139px;

    &--down {
      font-family: "Halyard Text", sans-serif;
      font-size: 21px;
      line-height: 150%;
      margin-top: 40px;
      text-align: center;
      color: #455880;
      margin-bottom: 40px;
    }
  }

  &__button {
    margin: auto;
    margin-top: 40px;
    padding: 3px 30px;
  }

  &__example {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .example__collum {
      width: 321px;
      margin: 0 10px;

      .example__img {
        border-radius: 18px;
        margin-top: -30px;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.1);
          transform-origin: top;
        }
      }

      &--first {
        margin-right: -20px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  
  .example__collum--second,
  .example__collum--fives {
    display: none;
  }

  .example__collum {
    margin-left: -20px;
  }
}

@media screen and (max-width: 1060px) {
  .buy {
    &__example {
      transform: scale(0.5);
      transform-origin: bottom;
    }

    &__button {
      margin-bottom: -200px;
      width: 50%;
    }

  }
}

@media screen and (max-width: 550px) {

  .buy {
    &__example {
      transform: scale(0.25);
      transform-origin: bottom center;
    }

    &__button {
      margin-bottom: -350px;
      width: 70%;
    }
    &__title {
      padding-top: 20px;

      &__down {
        font-size: 15px;
      }
    }
  }
}
