@font-face {
  font-family: "Halyard Display";
  src: url("/src/fonts/HalyardDisplayMedium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Text";
  src: url("/src/fonts/HalyardTextRegular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
