.header {

  &__main {
    height: 878px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__color {
    width: 100%;
    height: 878px;
    background: linear-gradient(180deg,
    rgba(242, 249, 255, 0.12) 0%,
    #f2f9ff 100%);
    position: absolute;
    z-index: -1;
    top: 0;
  }

  &__title {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "Halyard Display", sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 105%;
    color: #1e266d;
    text-align: center;
    margin-bottom: 83px;
    margin-top: 90px;

    &::after {
      content: "For everyone, from beginners to experts";
      position: absolute;
      font-family: "Halyard Text", sans-serif;
      font-size: 18px;
      line-height: 150%;
      color: #455880;
      bottom: -50px;
    }
  }

  &__buttons {
    width: 350px;
    display: flex;
    justify-content: space-between;

    .button__info {
      padding: 5px 30px;

      &--second {
        padding: 3px 30px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        background-color: white;
        color: #455880;
      }
    }
  }
}

.section {
  max-width: 1250px;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: auto;
}

.main__pic {
  width: 976px;
  height: 585px;
  top: 440px;
  position: absolute;
  background-image: url(../images/mainpicture.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: "Trusted by forward-thinking software teams around the world";
    position: absolute;
    bottom: -52px;
    left: calc(50% - 240px);
    font-family: "Halyard Text", sans-serif;
    line-height: 27px;
    font-size: 16px;
    color: rgba(69, 88, 128, 0.5);
  }
}

@media screen and (max-width: 1000px) {
  .main__pic {
    transform: scale(0.6);

    &::after {
      transform: scale(1.4);
    }
  }
}

@media screen and (max-width: 585px) {

  .header {
    &__title {
      font-size: 36px;
  
      &::after {
        content: "For everyone, from beginners to experts";
        position: absolute;
        font-family: "Halyard Text", sans-serif;
        font-size: 15px;
      }
    }

    &__buttons {
      flex-direction: column;
      transform: translateY(50px);
      width: 70%;

      .button__info {
        margin-bottom: 15px;
      }
    }

    .header__color {
      height: 728px;
    }
  }

  .main__pic {
    transform: scale(0.3);

    &::after {
      transform: scale(2.3);
    }
  }
}
