.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    margin-top: 35px;
    font-family: "Halyard Text", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 49px;
  }
}

.list {
  &__item {
    margin-right: 72px;
  }
  &__item:last-child {
    margin-right: 0;
  }
}
