body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;

}

ul,
li,
p,
button,
input,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  outline: none;
}

.section {
  padding: auto;
}
