.reviews {
  &__title {
    font-family: "Halyard Display", sans-serif;
    margin-top: 232px;
    margin-bottom: 56px;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: rgba(30, 38, 109, 1);
  }
  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card__item {
  width: 373px;
  height: 467px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(30, 38, 109, 1);
  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 4px;
  padding: 38px 40px;

}

.card__text {
  font-family: "Halyard Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.card__img {
  margin-top: 39px;
  margin-bottom: 23px;
}

.card__name {
  font-family: "Halyard Display", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: rgba(30, 38, 109, 1);
}

.card__web {
  font-family: "Halyard Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: rgba(69, 88, 128, 1);
}
